@use '../styles/abstracts/vars';
@use '../styles/abstracts/mixins';

.block {
	color: vars.$color_blue;
	padding: 6rem;
	box-sizing: border-box;
	&.intro {
		padding: 15rem 15rem 7.5rem 15rem;
	}
	&.cta {
		padding: 6rem 15rem;
		text-align: right;
	}
	&.orange {
		background-color: vars.$color_orange;
		color: #fff;
	}
	&.blue {
		background-color: vars.$color_blue;
		color: #fff;
	}
	&.white {
		background-color: vars.$color_white;
		color: vars.$color_blue;
	}
	&.screen {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 1000;
		//background-color: vars.$color_orange;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	&.photo {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 1000;
	}
	&.bgColor-blue {
		background-color: vars.$color_blue;
		color: #fff;
	}
	&.bgColor-white {
		background-color: vars.$color_white;
		color: vars.$color_blue;
	}
	&.bgColor-orange {
		background-color: vars.$color_orange;
		color: vars.$color_white;
	}
	&.noPadding {
		padding: 0;
	}
	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 5rem;
		background-color: vars.$color_orange;
		z-index: 100;
		content: '';
		display: block;
	}
}
