@use '../styles/abstracts/vars';

.full_screen {
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	//align-items: center;
	&.height-2x {
		height: 200vh;
	}
	&.height-3x {
		height: 300vh;
	}
}
.teal {
	background-color: vars.$color_teal;
}
.white {
	background-color: #ffffff;
}
